body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
/* @media screen and (min-height: 1080px) and (orientation: landscape) {} */
body {
    background-image: url(./src/backgroundMain.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
div#Calendar {
    position: absolute;
    background-image: url(./src/divCalendar.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 60%;
    height: 75%;
    top: 12.5%;
    left: 20%;
    border-radius: 15px;
}
/* adicionar cores diferentes para os fins de semanas, colocar botões na parte lateral , ver como fazer botões animados
border: none; button 
colocar um ponto que muda de cor caso tenha ou não atividade e caso tenha atividade importante
colocar o nome do dia da semana pequeno e abreviado em cima*/
div#day1 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 3%;
    cursor: pointer;
    transition: 0.3s;
}
div#day1:hover {
    width: 9%;
    height: 9%;
}
p.DayNum1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day2 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 13%;
    cursor: pointer;
    transition: 0.3s;
}
div#day2:hover {
    width: 9%;
    height: 9%;
}
p.DayNum2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day3 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 23%;
    cursor: pointer;
    transition: 0.3s;
}
div#day3:hover {
    width: 9%;
    height: 9%;
}
p.DayNum3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day4 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 33%;
    cursor: pointer;
    transition: 0.3s;
}
div#day4:hover {
    width: 9%;
    height: 9%;
}
p.DayNum4 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day5 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 43%;
    cursor: pointer;
    transition: 0.3s;
}
div#day5:hover {
    width: 9%;
    height: 9%;
}
p.DayNum5 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day6 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 53%;
    cursor: pointer;
    transition: 0.3s;
}
div#day6:hover {
    width: 9%;
    height: 9%;
}
p.DayNum6 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day7 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 63%;
    cursor: pointer;
    transition: 0.3s;
}
div#day7:hover {
    width: 9%;
    height: 9%;
}
p.DayNum7 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day8 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 73%;
    cursor: pointer;
    transition: 0.3s;
}
div#day8:hover {
    width: 9%;
    height: 9%;
}
p.DayNum8 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day9 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 4%;
    left: 83%;
    cursor: pointer;
    transition: 0.3s;
}
div#day9:hover {
    width: 9%;
    height: 9%;
}
p.DayNum9 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day10 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 3%;
    cursor: pointer;
    transition: 0.3s;
}
div#day10:hover {
    width: 9%;
    height: 9%;
}
p.DayNum10 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day11 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 13%;
    cursor: pointer;
    transition: 0.3s;
}
div#day11:hover {
    width: 9%;
    height: 9%;
}
p.DayNum11 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day12 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 23%;
    cursor: pointer;
    transition: 0.3s;
}
div#day12:hover {
    width: 9%;
    height: 9%;
}
p.DayNum12 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day13 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 33%;
    cursor: pointer;
    transition: 0.3s;
}
div#day13:hover {
    width: 9%;
    height: 9%;
}
p.DayNum13 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day14 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 43%;
    cursor: pointer;
    transition: 0.3s;
}
div#day14:hover {
    width: 9%;
    height: 9%;
}
p.DayNum14 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day15 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 53%;
    cursor: pointer;
    transition: 0.3s;
}
div#day15:hover {
    width: 9%;
    height: 9%;
}
p.DayNum15 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day16 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 63%;
    cursor: pointer;
    transition: 0.3s;
}
div#day16:hover {
    width: 9%;
    height: 9%;
}
p.DayNum16 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day17 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 73%;
    cursor: pointer;
    transition: 0.3s;
}
div#day17:hover {
    width: 9%;
    height: 9%;
}
p.DayNum17 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day18 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 14%;
    left: 83%;
    cursor: pointer;
    transition: 0.3s;
}
div#day18:hover {
    width: 9%;
    height: 9%;
}
p.DayNum18 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day19 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 3%;
    cursor: pointer;
    transition: 0.3s;
}
div#day19:hover {
    width: 9%;
    height: 9%;
}
p.DayNum19 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day20 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 13%;
    cursor: pointer;
    transition: 0.3s;
}
div#day20:hover {
    width: 9%;
    height: 9%;
}
p.DayNum20 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day21 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 23%;
    cursor: pointer;
    transition: 0.3s;
}
div#day21:hover {
    width: 9%;
    height: 9%;
}
p.DayNum21 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day22 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 33%;
    cursor: pointer;
    transition: 0.3s;
}
div#day22:hover {
    width: 9%;
    height: 9%;
}
p.DayNum22 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day23 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 43%;
    cursor: pointer;
    transition: 0.3s;
}
div#day23:hover {
    width: 9%;
    height: 9%;
}
p.DayNum23 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day24 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 53%;
    cursor: pointer;
    transition: 0.3s;
}
div#day24:hover {
    width: 9%;
    height: 9%;
}
p.DayNum24 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day25 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 63%;
    cursor: pointer;
    transition: 0.3s;
}
div#day25:hover {
    width: 9%;
    height: 9%;
}
p.DayNum25 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day26 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 73%;
    cursor: pointer;
    transition: 0.3s;
}
div#day26:hover {
    width: 9%;
    height: 9%;
}
p.DayNum26 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day27 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 24%;
    left: 83%;
    cursor: pointer;
    transition: 0.3s;
}
div#day27:hover {
    width: 9%;
    height: 9%;
}
p.DayNum27 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day28 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 34%;
    left: 3%;
    cursor: pointer;
    transition: 0.3s;
}
div#day28:hover {
    width: 9%;
    height: 9%;
}
p.DayNum28 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day29 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 34%;
    left: 13%;
    cursor: pointer;
    transition: 0.3s;
}
div#day29:hover {
    width: 9%;
    height: 9%;
}
p.DayNum29 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day30 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 34%;
    left: 23%;
    cursor: pointer;
    transition: 0.3s;
}
div#day30:hover {
    width: 9%;
    height: 9%;
}
p.DayNum30 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}
div#day31 {
    position: absolute;
    background-color: white;
    width: 8%;
    height: 8%;
    border-radius: 15px;
    top: 34%;
    left: 33%;
    cursor: pointer;
    transition: 0.3s;
}
div#day31:hover {
    width: 9%;
    height: 9%;
}
p.DayNum31 {
    display: flex;
    justify-content: center;
    text-align: center;
    font: 15pt Normal;
}

@media screen and (max-height: 1070px) and (min-width: 250px) and (orientation:portrait) {

}